flows.json
[{"id":"2c3d8a1.ac6dd76","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b9ef38d3.c92e78","type":"ui_form","z":"2c3d8a1.ac6dd76","name":"","label":"","group":"f08c0cc2.9b367","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":340,"wires":[["5c700256.987c1c","cefd89f4.b842f8"]]},{"id":"5c700256.987c1c","type":"debug","z":"2c3d8a1.ac6dd76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":320,"wires":[]},{"id":"55cffba8.a0ed04","type":"ui_form","z":"2c3d8a1.ac6dd76","name":"","label":"","group":"e8625ef8.3a8fd","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":480,"wires":[["2ce08904.d652e6"]]},{"id":"2ce08904.d652e6","type":"function","z":"2c3d8a1.ac6dd76","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":500,"wires":[["e107eed5.c8ee3"]]},{"id":"e107eed5.c8ee3","type":"function","z":"2c3d8a1.ac6dd76","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":500,"wires":[["ca65982e.ab1288"]]},{"id":"12a842b2.145b9d","type":"ui_text","z":"2c3d8a1.ac6dd76","group":"f08c0cc2.9b367","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":500,"wires":[]},{"id":"9ebe4e41.562e9","type":"ui_form","z":"2c3d8a1.ac6dd76","name":"","label":"","group":"948c476.9da66b8","order":0,"width":0,"height":0,"options":[{"label":"User Input:","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":760,"wires":[["bf15809c.86258"]]},{"id":"bf15809c.86258","type":"function","z":"2c3d8a1.ac6dd76","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":840,"wires":[["3293531a.f0bd5c"]]},{"id":"3293531a.f0bd5c","type":"watson-conversation-v1","z":"2c3d8a1.ac6dd76","name":"","workspaceid":"10d9bced-ab3d-49e2-96a3-6d5a6a7e7264","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0682ca6b-963e-458e-bb7e-d08cf00b4135","timeout":"","optout-learning":false,"x":550,"y":860,"wires":[["8ccd16d8.7103b8","d5949e5b.e65de"]]},{"id":"8ccd16d8.7103b8","type":"debug","z":"2c3d8a1.ac6dd76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":800,"wires":[]},{"id":"9a8c6d36.a24a2","type":"ui_text","z":"2c3d8a1.ac6dd76","group":"948c476.9da66b8","order":1,"width":"6","height":"4","name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":900,"wires":[]},{"id":"d5949e5b.e65de","type":"function","z":"2c3d8a1.ac6dd76","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":940,"wires":[["9a8c6d36.a24a2","1e5f04d1.e7c5fb"]]},{"id":"1e5f04d1.e7c5fb","type":"ui_audio","z":"2c3d8a1.ac6dd76","name":"","group":"948c476.9da66b8","voice":"","always":"","x":930,"y":1000,"wires":[]},{"id":"cefd89f4.b842f8","type":"function","z":"2c3d8a1.ac6dd76","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":400,"wires":[["757b2313.880fcc"]]},{"id":"757b2313.880fcc","type":"cloudant out","z":"2c3d8a1.ac6dd76","name":"","cloudant":"","database":"sample","service":"node-red-agyut-2020--cloudant-1597405133196-87242","payonly":true,"operation":"insert","x":610,"y":420,"wires":[]},{"id":"ca65982e.ab1288","type":"cloudant in","z":"2c3d8a1.ac6dd76","name":"","cloudant":"","database":"sample","service":"node-red-agyut-2020--cloudant-1597405133196-87242","search":"_idx_","design":"user","index":"user","x":720,"y":500,"wires":[["72fdc5e6.ebd62c"]]},{"id":"72fdc5e6.ebd62c","type":"function","z":"2c3d8a1.ac6dd76","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":500,"wires":[["9d612812.adbd28"]]},{"id":"9d612812.adbd28","type":"debug","z":"2c3d8a1.ac6dd76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":580,"wires":[]},{"id":"f08c0cc2.9b367","type":"ui_group","z":"","name":"Reg page","tab":"47712c9c.683054","order":1,"disp":true,"width":"6","collapse":false},{"id":"e8625ef8.3a8fd","type":"ui_group","z":"","name":"login","tab":"9dcba0ec.ff87e","order":1,"disp":true,"width":"6","collapse":false},{"id":"948c476.9da66b8","type":"ui_group","z":"","name":"bot","tab":"61bf15e7.5d069c","order":1,"disp":true,"width":"6","collapse":false},{"id":"47712c9c.683054","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"9dcba0ec.ff87e","type":"ui_tab","z":"","name":"login","icon":"dashboard","disabled":false,"hidden":false},{"id":"61bf15e7.5d069c","type":"ui_tab","z":"","name":"customer_help","icon":"dashboard","disabled":false,"hidden":false}]